main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-grow: 1;
    align-items: center;
}

.price-card {
    position: relative;
    width: 380px;
    min-height: 770px;
    padding: 30px 0 42px;
    background-color: #334247;
    color: #fff;
    text-align: center;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    overflow: hidden;

    &:not(:last-child) {
        margin-right: 15px;
    }

    &__title {
        margin-bottom: 36px;
        line-height: 0.75;
        font-size: 35px;
        font-weight: bold;
        span {
            font-size: 20px;
            font-weight: 200;
        }
    }

    .price-card__price {
        padding: 18px 0 19px;
        line-height: 67px;
        font-size: 55px;
        font-weight: bold;
    }

    &__description {
        padding: 19px 26px 42px;
        line-height: 18px;
        font-size: 15px;
        font-weight: 200;
    }

    .rectangle {
        position: absolute;
        top: 27px;
        right: -31px;
        width: 147px;
        height: 25px;
        line-height: 17px;
        padding: 4px 0;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #DC3F45;
        transform: rotate(45deg);
    }
}

.website {
    background-color: #5BB189;
}

.business {
    background-color: #3A6BA5;
}

.webshop {
    background-color: #EC632A;
}

.price-card__options-list {
    padding: 0;
    list-style-type: none;
    font-weight: 200;

    &_item {
        position: relative;
        padding: 16px 21px 16px 58px;
        line-height: 18px;
        text-align: left;

        &:nth-child(odd) {
            background-color: rgb(42, 52, 56, 0.5);
            mix-blend-mode: normal;
        }

        &:before {
            position: absolute;
            top: 19px;
            left: 22px;
        }
    }
}

.website-item:before {
    content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
}

.business-item:before {
    content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
}

.webshop-item:before {
    content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
}

.price-card__order-btn {
    width: 154px;
    margin-top: 37px;
    padding: 11px 0 12px;
    line-height: 17px;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.business-btn {
    background-color: #5BB189;
}

.website-btn {
    background-color: #3A6BA5;
}

.webshop-btn {
    background-color: #EC632A;
}