main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    max-width: 1170px;
    margin: 0 auto;
    flex-grow: 1;
    align-items: center;
}

.price-card {
    position: relative;
    width: 380px;
    min-height: 770px;
    padding: 30px 0 42px;
    background-color: #334247;
    color: #fff;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
    overflow: hidden;

    &:not(:last-child) {
        margin-right: 15px;
    }

    .rectangle {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 18px;
        right: -18px;
        width: 147px;
        height: 25px;
        line-height: 17px;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        background-color: #DC3F45;
        transform: rotate(45deg);
    }

    &__title {
        margin: 0 auto 36px;
        line-height: 43px;
        font-size: 35px;
        font-style: normal;
        font-weight: bold;
        text-align: center;

        span {
            font-size: 20px;
            font-weight: 300;
        }

        &.website-title {
            width: 100px;
        }
    
        &.business-title {
            width: 163px;
        }
    
        &.webshop-title {
            width: 173px;
        }
    }

    &__price {
        padding: 18px 0 19px;
        margin-bottom: 39px;
        line-height: 67px;
        font-size: 55px;
        font-style: normal;
        font-weight: bold;
        text-align: center;

        &.website-bg {
            background-color: #5BB189;
        }
        
        &.business-bg {
            background-color: #3A6BA5;
        }
        
        &.webshop-bg {
            background-color: #EC632A;
        }
        
    }

    &__description {
        width: 327px;
        margin: 0 auto 42px;
        line-height: 18px;
        font-size: 15px;
        font-style: normal;
        font-weight: 300;
        text-align: center;
    }

    &__options-list {
        padding: 0;
        margin-bottom: 37px;
        list-style-type: none;
        font-style: normal;
        font-weight: 300;
    
        &_item {
            position: relative;
            padding: 16px 21px 16px 58px;
            line-height: 18px;
    
            &:nth-child(odd) {
                background-color: rgb(42, 52, 56);
                mix-blend-mode: normal;
            }
    
            &:before {
                position: absolute;
                top: 19px;
                left: 22px;
            }

            &.website-list-item:before {
                content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
            }
            
            &.business-list-item:before {
                content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
            }
            
            &.webshop-list-item:before {
                content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
            }
        }
    }
        
    &__order-btn {
        display: block;
        width: 154px;
        line-height: 17px;
        padding: 11px 0 12px;
        margin: 0 auto;
        font-size: 14px;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        border-radius: 20px;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;

        &.website-order-btn {
            background-color: #5BB189;
        }
        
        &.business-order-btn {
            background-color: #3A6BA5;
        }
        
        &.webshop-order-btn {
            background-color: #EC632A;
        }
    }
}
