* {
	box-sizing: border-box;
}

html {
	font-family: "Verdana";
	color: #555;
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	text-align: center;
	color: #fff;
	background: linear-gradient(60deg, red, orange);
}

.main {
	display: flex;
	flex-grow: 1;
}

footer {
	padding: 0.5em;
	background-color: #e5e5e5;
	text-align: center;
}

.section, .navigation, .news {
	padding: 0.5em;
}

.navigation {
	width: 20%;
}

.news {
	width: 20%;
}

.nav-list {
	padding: 0;
}

.nav-list-item {
    list-style-type: none;
    height: 2em;
    background-color: grey;
    line-height: 2em;
    color: white;
    margin-bottom: 0.5em;
}

.nav-list-link {
	width: 100%;
    display: inline-block;
    padding: 0 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section {
	width: 60%;
	font-size: 1.25em;
}

.section__header {
	font-size: 5vw;
	text-align: center;
}

.units-list {
	line-height: 1.75em;
}

.css-units {
	color: #8b0000;
	background-color: #e5e5e5;
	font-size: 1.125em;
	font-weight: 700;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 599px) {
	.main {
		flex-direction: column;
	}

	.section, .navigation, .news {
		width: 100%;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px) {
	.main {
		flex-wrap: wrap;
	}

	.navigation {
		width: 20%;
	}

	.section {
		flex-grow: 1;
	}

	.news {
		width: 100%;
	}
}

@media screen and (min-width: 900px) {
	.navigation {
		width: 20%;
	}

	.news {
		width: 20%;
	}

	.section {
		width: 60%;
	}
}