* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.square {
    width: 100px;
    height: 100px;
    margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
    .square {
        background-color: #ff7f50;
    }
}

@media screen and (min-width: 601px) and (max-width: 899px) {
    .square {
        background-color: #8a2be2;
    }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
    .square {
        background-color: #a61;
    }
}

@media screen and (min-width: 1200px) {
    .square {
        background-color: #c47;
    }
}
