* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

html {
	font-family: "Verdana";
	color: #555;
	font-size: 16px;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1 {
	padding: 0.75em;
	text-align: center;
	color: #fff;
	background: linear-gradient(to right, red 60%, orange);
}

.main {
	display: flex;
	flex-grow: 1;
}

footer {
	padding: 0.5em;
	background-color: #e5e5e5;
	text-align: center;
}

.main, .navigation, .news {
	padding: 0.5em;
}

.navigation {
	width: 20%;
}

.news {
	width: 20%;
}
.nav-list-item {
	background-color: #808080;
	color: #fff;
	height: 2em;
	padding: 0.5em;
	margin-bottom: 0.5em;
}

.nav-list-item:last-of-type {
	margin-bottom: 0;
}

.nav-list-link {
	display: block;
	text-decoration: none;
	color: inherit;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.section {
	width: 60%;
	font-size: 1.25em;
}

.section__header {
	font-size: 5vw;
	text-align: center;
}

.css-units {
	line-height: 1.75em;
	padding: 0;
	list-style-type: none;
	color: #8b0000;
	background-color: #e5e5e5;
	font-size: 1.125em;
	font-weight: 700;
}