* {
	box-sizing: border-box;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.square {
	width: 100px;
	height: 100px;
	margin-right: 8px;
	background-color: #8a2be2;
}

@media only screen and (min-width: 600px) {
	.square {
		background-color: #ff7f50;
	}
}

@media only screen and (orientation: portrait) {
	.container {
		flex-direction: column;
	}
}