* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.container {
	margin: auto;
}

.square {
	width: 100px;
	height: 100px;
	margin: 8px;
}

@media only screen and (min-width: 600px) {
	.square {
		background-color: #8a2be2;
	}
}
