@media screen and (max-width: 599px) {
    body {
        flex-direction: column;
    }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
   body {
       flex-wrap: wrap;
   }

   .navigation, .products-list {
       width: 50%;
   }

   .news {
       flex-grow: 1;
   }
}

@media screen and (min-width: 900px) {
   div {
    flex-grow: 1;
   }
 }
 