* {
    box-sizing: border-box;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header, .footer {
    height: 40px;
}

.header {
    display: flex;
    align-items: center;
    background-color: yellow;
}

.navigation {
    display: flex;
    list-style-type: none; 
}

.navigation_item {
    margin-right: 16px;
}

.content {
    display: flex;
    flex-grow: 1;
}

.dashboard {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: pink; 
}

.news {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: grey;
}

.news h2 {
    text-align: center;
}

.news_item {
    height: 40px;
    list-style-type: none; 
}

.footer {
    display: flex;
    background-color: green; 
}

.footer_text {
    margin: auto;
}
